@model BorrowBookVM
@{
}


<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="form">

        <h3 class="p-3 w-100 table-header text-light text-center mb-0">Borrow Book</h3>

        <form asp-action="Borrow" style="border: 1px solid var(--second-color)" class="row g-3 w-100 m-0 p-3">
            <div class="col-12">
                <label>Borrower Name</label>
                <select asp-for="BorrowerCode" asp-items="@ViewBag.Borrowers" class="form-select">
                    <option >--Select Borrower Name--</option>
                </select>
            </div>
            <div class="col-12">
                <label>Book Name</label>
                <select asp-for="BookId" asp-items="@ViewBag.books" class="form-select">
                    <option >--Select Book Name--</option>
                </select>

            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger summary col-12"></div>
            
            <div class="form-group mt-2 d-flex justify-content-center">
                <input type="submit" value="Borrow" class="btn cst-btn w-50 mt-4" />
            </div>
        </form>

    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
